#whitelist files and folders
!*.yaml
!.gitignore
!*.md
!esphome/.gitignore

#Generic ignores
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.gz
*.py
._*
__pycache__
*.pyc 

#Ignore folders
.storage
.cloud
deps
custom_components
tts

#ignore specific files
ip_bans.yaml
secrets.yaml
known_devices.yaml
.ha_run.lock
.HA_VERSION

#ESPHome ignores
esphome/secrets.yaml
esphome/.*/
esphome/**/.pioenvs/
esphome/**/.piolibdeps/
esphome/**/lib/
esphome/**/src/
esphome/**/platformio.ini

#node-red ignores - ignore everything for now
node-red/

# www ignores
www/tmp/
www/community
