esphome:
  name: power-monitor-house

external_components:
  - source: github://emporia-vue-local/esphome@dev
    components:
      - emporia_vue

esp32:
  board: esp32dev
  framework:
    type: esp-idf
    version: recommended



# Enable Home Assistant API
api: 
  encryption:
    key: !secret ha_encryption_key


ota: 
  - platform: esphome
    password: !secret ota_password

# Enable logging
logger:
  logs:
    sensor: INFO

wifi:
  ssid: !secret iot_wifi_ssid
  password: !secret iot_wifi_password

  
i2c:
  sda: 21
  scl: 22
  scan: false
  frequency: 200kHz  # recommended range is 50-200kHz
  id: i2c_a
time:
  - platform: sntp
    id: my_time
# these are called references in YAML. They allow you to reuse
# this configuration in each sensor, while only defining it once
.defaultfilters:
  - &throttle_avg
    # average all raw readings together over a 5 second span before publishing
    throttle_average: 5s
  - &throttle_time
    # only send the most recent measurement every 60 seconds
    throttle: 60s
  - &moving_avg
    # we capture a new sample every 0.24 seconds, so the time can
    # be calculated from the number of samples as n * 0.24.
    sliding_window_moving_average:
      # we average over the past 2.88 seconds
      window_size: 12
      # we push a new value every 1.44 seconds
      send_every: 6
  - &invert
    # invert and filter out any values below 0.
    lambda: 'return max(-x, 0.0f);'
  - &pos
    # filter out any values below 0.
    lambda: 'return max(x, 0.0f);'
  - &abs
    # take the absolute value of the value
    lambda: 'return abs(x);'
sensor:
  - platform: emporia_vue
    i2c_id: i2c_a
    phases:
      - id: phase_a  # Verify that this specific phase/leg is connected to correct input wire color on device listed below
        input: RED  # Vue device wire color
        calibration: 0.0231  # 0.022 is used as the default as starting point but may need adjusted to ensure accuracy
        # To calculate new calibration value use the formula <in-use calibration value> * <accurate voltage> / <reporting voltage>
        voltage:
          name: "Phase A Voltage"
          filters: [*throttle_avg, *pos]
      - id: phase_b  # Verify that this specific phase/leg is connected to correct input wire color on device listed below
        input: BLACK  # Vue device wire color
        calibration: 0.0218  # 0.022 is used as the default as starting point but may need adjusted to ensure accuracy
        # To calculate new calibration value use the formula <in-use calibration value> * <accurate voltage> / <reporting voltage>
        voltage:
          name: "Phase B Voltage"
          filters: [*throttle_avg, *pos]
    ct_clamps:
      - phase_id: phase_a
        input: "A"  # Verify the CT going to this device input also matches the phase/leg
        power:
          name: "Phase A Power"
          id: phase_a_power
          device_class: power
          filters: [*throttle_avg, *pos]
      - phase_id: phase_b
        input: "B"  # Verify the CT going to this device input also matches the phase/leg
        power:
          name: "Phase B Power"
          id: phase_b_power
          device_class: power
          filters: [*throttle_avg, *pos]
      # Pay close attention to set the phase_id for each breaker by matching it to the phase/leg it connects to in the panel
      - { phase_id: phase_a, input:  "1", power: { name: "Microwave Power",                     id:  cir1, filters: [ *throttle_avg, *pos  ] } }
      - { phase_id: phase_b, input:  "2", power: { name: "Smoke Detector / M. Bath Power",      id:  cir2, filters: [ *throttle_avg, *pos ] } }
      - { phase_id: phase_a, input:  "3", power: { name: "Bathroom & GFI Outlets Power",        id:  cir3, filters: [ *throttle_avg, *pos ] } }
      - { phase_id: phase_b, input:  "4", power: { name: "Living Room Power",                   id:  cir4, filters: [ *throttle_avg, *pos ] } }
      - { phase_id: phase_a, input:  "5", power: { name: "Dryer Power",                         id:  cir5, filters: [ *throttle_avg, *pos ] } }
      - { phase_id: phase_a, input:  "6", power: { name: "Kitchen Right GFI Power",             id:  cir6, filters: [ *throttle_avg, *pos ] } }
      - { phase_id: phase_b, input:  "7", power: { name: "Air Conditioner Power",               id:  cir7, filters: [ *throttle_avg, *pos ] } }
      - { phase_id: phase_b, input:  "8", power: { name: "Garage Outlets Power",                id:  cir8, filters: [ *throttle_avg, *pos ] } }
      - { phase_id: phase_a, input:  "9", power: { name: "Water Heater Power",                  id:  cir9, filters: [ *throttle_avg, *pos ] } }
      - { phase_id: phase_b, input: "10", power: { name: "Furnace Power",                       id: cir10, filters: [ *throttle_avg, *pos, multiply: 2 ] } }
      - { phase_id: phase_a, input: "11", power: { name: "Dishwasher Power",                    id: cir11, filters: [ *throttle_avg, *pos ] } }
      - { phase_id: phase_a, input: "12", power: { name: "Washer Power",                        id: cir12, filters: [ *throttle_avg, *pos, multiply: 2 ] } }
      - { phase_id: phase_a, input: "13", power: { name: "Kitchen/Dining Room Lights Power",    id: cir13, filters: [ *throttle_avg, *pos ] } }
      - { phase_id: phase_a, input: "14", power: { name: "Util Room and M Bath Power",          id: cir14, filters: [ *throttle_avg, *pos ] } }
      - { phase_id: phase_b, input: "15", power: { name: "Refrigerator & Dining Outlets Power", id: cir15, filters: [ *throttle_avg, *pos ] } }
      - { phase_id: phase_a, input: "16", power: { name: "Exterior Outlets Power",              id: cir16, filters: [ *throttle_avg, *pos ] } }
  - platform: template
    name: "Total Power"
    lambda: return id(phase_a_power).state + id(phase_b_power).state;
    update_interval: 1s
    id: total_power
    unit_of_measurement: "W"
    device_class: power
    state_class: measurement
  - platform: total_daily_energy
    name: "Total Daily Energy"
    power_id: total_power
    accuracy_decimals: 0
  - { power_id:  cir1, platform: total_daily_energy, accuracy_decimals: 0, name:  "Microwave Daily Energy" }
  - { power_id:  cir2, platform: total_daily_energy, accuracy_decimals: 0, name:  "Smoke Detector / M. Bath Daily Energy" }
  - { power_id:  cir3, platform: total_daily_energy, accuracy_decimals: 0, name:  "Bathroom & GFI Outlets Daily Energy" }
  - { power_id:  cir4, platform: total_daily_energy, accuracy_decimals: 0, name:  "Living Room Daily Energy" }
  - { power_id:  cir5, platform: total_daily_energy, accuracy_decimals: 0, name:  "Dryer Daily Energy" }
  - { power_id:  cir6, platform: total_daily_energy, accuracy_decimals: 0, name:  "Kitchen Right GFI Daily Energy" }
  - { power_id:  cir7, platform: total_daily_energy, accuracy_decimals: 0, name:  "Air Conditioner Daily Energy" }
  - { power_id:  cir8, platform: total_daily_energy, accuracy_decimals: 0, name:  "Garage Outlets Daily Energy" }
  - { power_id:  cir9, platform: total_daily_energy, accuracy_decimals: 0, name:  "Water Heater Daily Energy" }
  - { power_id: cir10, platform: total_daily_energy, accuracy_decimals: 0, name:  "Furnace Daily Energy" }
  - { power_id: cir11, platform: total_daily_energy, accuracy_decimals: 0, name:  "Dishwasher Daily Energy" }
  - { power_id: cir12, platform: total_daily_energy, accuracy_decimals: 0, name:  "Washer Daily Energy" }
  - { power_id: cir13, platform: total_daily_energy, accuracy_decimals: 0, name:  "Kitchen/Dining Room Lights Daily Energy" }
  - { power_id: cir14, platform: total_daily_energy, accuracy_decimals: 0, name:  "Util Room and M Bath Daily Energy" }
  - { power_id: cir15, platform: total_daily_energy, accuracy_decimals: 0, name:  "Refrigerator & Dining Outlets Daily Energy" }
  - { power_id: cir16, platform: total_daily_energy, accuracy_decimals: 0, name:  "Exterior Outlets Daily Energy" }